<%- include('../partials/header') %>

<div class="row">
  <% for (let i = donations.length-1; i >= 0; i--) { %>
    <div class="card col-lg-3 col-md-3 col-sm-4 m-2 main-card">
    <img
    class="card-img-top"
    src="<%=donations[i].pictureUrl%>"
    height="100px"
    width="120px"
    >
      <div class="card-body back-color">
        <div class="card-title">
          <a href="/donations/<%= donations[i].id %>">
          <h2><%= donations[i].title %></h2>
          </a>
        </div>
          <p class="card-text"><%= donations[i].description %></p>
      </div>
    </div>
  <% } %>
</div>


<%- include('../partials/footer') %>
