<%- include('../partials/header') %>


<% for (let i = donation.length-1; i >= 0; i-- ) { %>
  <ul>
  <form
    class=<%= donation[i].id %>
    action="/donations/<%= donation[i].id %>"
    method="get"
    >
  <li><%= donation[i].title %></li>
  <li><%= donation[i].description %></li>
  <input type="submit" value="See donation" />
  </form>
  </ul>
<% } %>

<%- include('../partials/footer') %>
