<%- include('../partials/header') %>

<div class="row">
  <div class="container col-lg-6 col-md-4">
    <div class="card-body show-donation">
      <div class="row">
      <div class="container col-lg-8 col-md-6">
      <h3><%= donationShow.title %></h3>
      <p><%= donationShow.description %></p>
      <p>Address: <%= user_data.address %></p>

      </div>
      <div class="container col-lg-4 col-md-3">
        <img
        class="card-img-top float-right"
        src="<%=donationShow.pictureUrl%>"
        height="100px"
        width="120px"
        >
      </div>
    </div>
      <% if (current_user !== user_data.id) { %>
        <form
          class="form-control main-message"
          action="/donations/<%= donationShow.id %>/messages"
          method="post"
        >
        <textarea type="text" name="content" class="form-control message-form" rows="4"></textarea>
        <input type="submit" class="btn-outline-primary" value="Send Message"/>
        </form>
      <% } else { %>
        <div class="row button-modification">
        <form
          class="form-control button-modification"
          action="/donations/<%= donationShow.id %>/messages"
          method="patch"
        >
          <input type="submit" class="btn-primary" value="Edit" />
          <form
            class="form-control button-modification"
            action="/donations/<%= donationShow.id %>/messages"
            method="delete"
          >
            <input type="submit" class="btn-primary" value="Delete" />
        </div>
      <% } %>
    </div>
  </div>

  <div class="container col-lg-6 col-md-4">
    <div id="map"></div>
    <script>

      let address = "<%= user_data.address %>";
      function initMap() {
        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14
        });

        let geocoder = new google.maps.Geocoder();
        codeAddress(geocoder, map);
      }

      function codeAddress(geocoder, map) {
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            let marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });

            let infoWindow = new google.maps.InfoWindow({
              content: '<%= user_data.address %>'
            });

            marker.addListener('click', function () {
              infoWindow.open(map, marker);
            });

          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
    <script
      async defer src="https://maps.googleapis.com/maps/api/js?key=<%=GMAP_KEY%>&callback=initMap"
      type="text/javascript"
    >
    </script>
  </div>

</div>

<%- include('../partials/footer') %>
